@font-face {
  font-family: Geist;
  src: url(GeistVF.woff);
}

body {
  margin: 0;
  padding: 0;
  height: 98vh;
  font-family: Geist;
}
#container {
  display: flex;
  height: 100%;
}
#map {
  width: 70%; /* adjust as needed */
  height: 100%;
}
#menu {
  width: 30%; /* adjust as needed */
  height: 100%;
}
/* Style the buttons that are used to open the tab content */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 16.66666666666667%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Create an active/current tablink class */
.tablink.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  color: black;
  display: none;
  padding: 5px;
  text-align: center;
}

h1 {
  margin: 0;
}

.changelog {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  text-align: left;
}

#name {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 6px;
  font-size: 25px;
  text-align: center; /* Added to center the text horizontally */
}
#Buttons {
  display: flex;
  justify-content: center;
}
#Buttons button {
  font-size: 50px;
  margin: 3px;
  margin-top: 6px;
}

#guessList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.tooltip {
  float: left;
  position: relative;
  font-size: x-large;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: medium;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#SettingsContainer {
  text-align: left;
}
